div{
    height: 300px;
    width: 300px;
    border: 2px solid black;
    background-color: #308014;
    float: left;
}
p{
    font-family: "Verdana", Geneva, sans-serif;
    font-size: 20px;
    width: 280px;
    float: right;
}