p:nth-child{
    color: red;
    font-family: Cursive;
}
p:nth-child(2){
    font-family: Tahoma;
}
p:nth-child(3){
    color: #CC0000;
}
p:nth-child(4){
    color: #00FF00;
}
p:nth-child(5){
    font-size: 22px;
}